<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" time-out="150" verbose="1">	
	<parameter name="age" value="100500"></parameter>
  		<test thread-count="5" name="Test">
   	 		<classes>
      			<class name="online_tusur.unit_online_tusur.StudentTestNGZ5"/>
      			<class name="online_tusur.unit_online_tusur.StudentTestNGZ6"/>
    		</classes>       
  		</test> <!-- Test -->
</suite> <!-- Suite -->
